{% extends "base.html" %}
{% block body_block %}
<div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <h1 class="mt-2">Calculator</h1>
            <hr class="mt-0 mb-4">
            </div>
        </div>
      </div>
<div class="container">
        <div class="jumbotron">
   <h2>Please selece calculation page</h2>

   <a href="calc_app/section_prop">Section Properties</a>
   <br>
   <a href="calc_app/fan_unbalance">Fan Unbalance</a>

</div>
</div>
   {% endblock %}